Django==3.1.2
celery[redis]
gunicorn
gevent
hiredis
django-celery-beat
django-redis
djangorestframework
django-cors-headers
django-cms
django-treebeard
django-db-logger
django-health-check
django-celery-results
django-watchman
django-debug-toolbar
django-storages
django-rest-swagger
django-sekizai
djangorestframework
django-filter
numpy
pandas
paramiko
pillow
psycopg2-binary
python-nmap
PyQt5
redis
requests
scp
watchdog
pysmb
markdown
django-allauth
django-waffle
django-filter