Django
djangorestframework
django-filter
django-cors-headers
django-allauth
dj-rest-auth
django-redis
djangorestframework-simplejwt
django-debug-toolbar
PyJWT==v1.7.1
redis
psycopg2-binary
markdown
gunicorn
python-nmap
requests
pillow
django-rest-swagger
decode